.container {
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  .countDownContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .futuuAct {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5vw;
      height: 1.5vw;
      margin: 0.1vw;
      background-color: #f7aae6;
      border: none;
      border-radius: 5px;
      position: absolute;
      top: -50%;
    }
    .bariAct {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5vw;
      height: 1.5vw;
      margin: 0.1vw;
      background-color: #f7aae6;
      border: none;
      border-radius: 5px;
      position: absolute;
      top: -50%;
    }
    .kataAct {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5vw;
      height: 1.5vw;
      margin: 0.1vw;
      background-color: #f7aae6;
      border: none;
      border-radius: 5px;
      position: absolute;
      top: -50%;
    }
    .yawaAct {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5vw;
      height: 1.5vw;
      margin: 0.1vw;
      background-color: #f7aae6;
      border: none;
      border-radius: 5px;
      position: absolute;
      top: -50%;
    }
    .stopBtn {
      width: 5vw;
      height: 5vw;
      margin: 0.1vw;
      color: #fff;
      font-weight: bold;
      background-color: #2ad0fa;
      border: none;
      border-radius: 100vh;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
      border-bottom: 2px solid #1a819b;
      position: absolute;
      right: 5%;
    }
    .katasaContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 5%;
      .bariBtn {
        width: 5vw;
        height: 3vw;
        margin: 0.1vw;
        color: #fff;
        font-weight: bold;
        background-color: #fc3535;
        border: none;
        border-radius: 100vh;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
        border-bottom: 2px solid #b42626;
      }
      .kataBtn {
        width: 5vw;
        height: 3vw;
        margin: 0.1vw;
        color: #fff;
        font-weight: bold;
        background-color: #f7872c;
        border: none;
        border-radius: 100vh;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
        border-bottom: 2px solid #bb6723;
      }
      .futuuBtn {
        width: 5vw;
        height: 3vw;
        margin: 0.1vw;
        color: #fff;
        font-weight: bold;
        background-color: #5afa2a;
        border: none;
        border-radius: 100vh;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
        border-bottom: 2px solid #3aa11b;
      }
      .yawaBtn {
        width: 5vw;
        height: 3vw;
        margin: 0.1vw;
        color: #fff;
        font-weight: bold;
        background-color: #2ad0fa;
        border: none;
        border-radius: 100vh;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
        border-bottom: 2px solid #1a819b;
      }
    }
  }
}
