.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .countDownContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .futuuAct {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 25px;
      margin: 5px;
      background-color: #000000;
      border: none;
      border-radius: 5px;
      position: absolute;
      top: 5%;
      font-size: small;
      font-weight: bold;
      color: #ffffff;
    }
    .bariAct {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 25px;
      margin: 5px;
      background-color: #000000;
      border: none;
      border-radius: 5px;
      position: absolute;
      top: 5%;
      font-size: small;
      font-weight: bold;
      color: #ffffff;
    }
    .kataAct {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 25px;
      margin: 5px;
      background-color: #000000;
      border: none;
      border-radius: 5px;
      position: absolute;
      top: 5%;
      font-size: small;
      font-weight: bold;
      color: #ffffff;
    }
    .yawaAct {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 25px;
      margin: 5px;
      background-color: #000000;
      border: none;
      border-radius: 5px;
      position: absolute;
      top: 5%;
      font-size: small;
      font-weight: bold;
      color: #ffffff;
    }
    .stopBtn {
      width: 75px;
      height: 75px;
      color: #fff;
      font-weight: bold;
      background-color: #2ad0fa;
      border: none;
      border-radius: 100vh;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
      border-bottom: 2px solid #1a819b;
      position: absolute;
      right: 5%;
    }

    .katasaContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 5%;
      .bariBtn {
        width: 75px;
        height: 50px;
        margin-bottom: 20px;
        color: #fff;
        font-weight: bold;
        background-color: #fc3535;
        border: none;
        border-radius: 100vh;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
        border-bottom: 2px solid #b42626;
      }
      .kataBtn {
        width: 75px;
        height: 50px;
        margin-bottom: 20px;
        color: #fff;
        font-weight: bold;
        background-color: #f7872c;
        border: none;
        border-radius: 100vh;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
        border-bottom: 2px solid #bb6723;
      }
      .futuuBtn {
        width: 75px;
        height: 50px;
        margin-bottom: 20px;
        color: #fff;
        font-weight: bold;
        background-color: #5afa2a;
        border: none;
        border-radius: 100vh;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
        border-bottom: 2px solid #3aa11b;
      }
      .yawaBtn {
        width: 75px;
        height: 50px;
        color: #fff;
        font-weight: bold;
        background-color: #2ad0fa;
        border: none;
        border-radius: 100vh;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
        border-bottom: 2px solid #1a819b;
      }
    }
  }
}
