.btn {
  width: 15vw;
  height: 3vw;
  margin: 1vw;
  color: #fff;
  font-weight: bold;
  background-color: #2137fa;
  border: none;
  border-radius: 100vh;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid #1a29b3;
}
